<div
  *ngIf="videos.length > 0; else elseBlock"
  class="section-container history-section custom-overflow"
  (click)="onToggleSideBar()"
>
  <div class="history-content">
    <h3>This is your history</h3>
    <div>
      <button class="button button-delete" (click)="deleteHistory('history')">
        Delete history
      </button>
    </div>
    <div *ngFor="let video of videos" class="card">
      <button class="button button-watch" (click)="onWatchAgainClick(video)">
        Watch again
      </button>
      <button class="button button-delete" (click)="deleteItem(video)">
        Delete this video
      </button>

      <img
        src="{{ video.thumbnail }}"
        alt="video thumbnail"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <a href="{{ video.videoUrl }}" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
          Watch in YouTube</a
        >
      </div>
      <button class="button button-bookmarks" (click)="addToFavourites(video)">
        Add to bookmarks
      </button>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="mx-auto section-container history-section custom-overflow">
    <h3>There are no videos in history yet</h3>
  </div>
</ng-template>
