<div class="section-container search-section">
  <div>
    <div class="search-bar-title">
      <h3><u>YouTube Player</u></h3>
    </div>
  </div>
  <div class="p-2">
    <label for="url">
      <h5 class="my-2">Put your URL here</h5>
      <input
        type="text"
        placeholder="Youtube url..."
        class="form-control"
        [(ngModel)]="videoURL"
      />
    </label>
  </div>
  <button (click)="onAddedVideo(videoURL)" class="button button-default">
    Add video
  </button>

  <div class="bg-danger" *ngIf="error" class="error">
    Oops an error ocurred
    <p>{{ errorMessage }}</p>
  </div>
</div>
