<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Search bar -->

      <app-search-bar
        (currentVideoItem)="setCurrentVideo($event)"
      ></app-search-bar>

      <!-- Video view -->

      <app-video-view [currentVideoItem]="currentVideoItem"></app-video-view>
      <div class="d-flex justify-content-between bg-success col-12">
        <!-- History -->

        <app-history (currentVideoItem)="setCurrentVideo($event)"></app-history>

        <!-- Bookmarks -->

        <app-bookmarks
          (currentVideoItem)="setCurrentVideo($event)"
        ></app-bookmarks>
      </div>
    </div>
  </div>
</div>
