<div class="container-fluid">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-12">
      <!-- Search bar -->

      <app-search-bar
        (currentVideoItem)="setCurrentVideo($event)"
      ></app-search-bar>

      <!-- Video view -->

      <app-video-view [currentVideoItem]="currentVideoItem"></app-video-view>

      <!-- History -->

      <app-history (currentVideoItem)="setCurrentVideo($event)"></app-history>

      <!-- Bookmarks -->

      <app-bookmarks
        (currentVideoItem)="setCurrentVideo($event)"
      ></app-bookmarks>
    </div>
  </div>
</div>
