<div class="container-fluid">
  <div class="header-section">
    <h1>
      <u class="text-uppercase">{{ title }} youtube viewer</u>
    </h1>

    <h2>Enter a YouTube URL and watch a video</h2>
  </div>
  <div class="row">
    <!-- Search bar -->
    <div class="col-lg-3 col-md-12">
      <app-history (currentVideoItem)="setCurrentVideo($event)"></app-history>
    </div>
    <div class="col-lg-6 col-md-12">
      <div>
        <app-search-bar
          (currentVideoItem)="setCurrentVideo($event)"
        ></app-search-bar>
      </div>
      <!-- Video view -->
      <div>
        <app-video-view [currentVideoItem]="currentVideoItem"></app-video-view>
      </div>
    </div>
    <!-- History -->
    <div class="col-lg-3 col-md-12">
      <!-- Bookmarks -->

      <app-bookmarks
        (currentVideoItem)="setCurrentVideo($event)"
      ></app-bookmarks>
    </div>
  </div>
</div>
