<div
  *ngIf="currentVideoItem; else elseBlock"
  class="section-container mx-auto view-section"
>
  <button
    class="button button-bookmarks"
    (click)="onBookmarkAdded(currentVideoItem)"
  >
    Add to favourites
  </button>
  <youtube-player
    [height]="videoHeight"
    [width]="videoWidth"
    videoId="{{ currentVideoItem.videoID }}"
    suggestedQuality="highres"
  ></youtube-player>
</div>
<div>
  <ng-template #elseBlock>
    <div class="section-container mx-auto view-section">
      <h1>
        Please enter a Youtube url to watch a video
      </h1>
    </div>
  </ng-template>
</div>
