<div
  *ngIf="videos.length > 0; else elseBlock"
  class="mx-auto bookmarks-section section-container custom-overflow"
>
  <button (click)="onToggleBookmarks()" class="button button-default">
    {{ toggleBookmarks ? "Hide" : "Show" }} your {{ videos.length }} bookmarks
  </button>
  <div *ngIf="toggleBookmarks">
    <button
      class="button button-delete delete-bookmarks"
      (click)="deleteBookmarks('bookmarks')"
    >
      Delete bookmarks
    </button>

    <div *ngFor="let video of videos" class="card">
      <button class="button button-watch" (click)="onWatchAgainClick(video)">
        Watch again
      </button>

      <button class="button button-delete" (click)="deleteItem(video)">
        Delete this video
      </button>

      <img
        src="{{ video.thumbnail }}"
        alt="video thumbnail"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <a href="{{ video.videoUrl }}" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
          Watch in YouTube</a
        >
      </div>
      <button class="btn btn-success">Add to favourites</button>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="mx-auto section-container bookmarks-section custom-overflow">
    <h3>There are no videos in bookmarks yet</h3>
  </div>
</ng-template>
